* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: rgb(213, 231, 255);
  color: rgb(19, 19, 19); 
}

h2 {
  color: rgb(19, 19, 19);
}

a {
  text-decoration: none;
  color: rgb(255, 81, 0); 
  font-size: 1.2em;
}

.navbar {
  background-color: rgb(190, 150, 255);
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: white;
  font-size: 1.5rem;
  justify-content: space-between;
}

.navbar img {
  width: 100px;
  object-fit: cover;
  justify-content: flex-start;
}

.nav-links > a {
  margin-left: 1em;
  letter-spacing: 1px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.master {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.sidebar {
  width: 20%;
  max-height: 580px;
  background-color: rgb(120, 80, 190);
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.sidebar li {
  list-style: none;
  border-bottom: 3px solid rgb(255, 81, 0);
  width: 100%;
  font-size: 1.5em;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.sidebar li:hover {
  font-size: 1.5em;
  font-weight: bold;
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.content {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-color: rgb(255, 231, 231);
}

.recipe-list {
  display: grid;
  grid-template-columns: repeat(3, 45vh);
  justify-content: space-evenly;
  gap: 20px;
}

.card {
  margin: 10px;
  height: 250px;
  max-height: 250px;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card button {
  display: flex;
  scale: 1.8;
  border: 1px solid rgba(128, 128, 128, 0.167);
  border-radius: 10px;
  cursor: pointer;
}

.card button:hover {
  scale: 2.2;
}

.card button:active {
  background-color: rgb(255, 81, 0);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.card img {
  height: 40%;
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card img:hover {
  scale: 1.3;
}


.card h2 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.card p {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: rgb(19, 19, 19);
}

.footer {
  background-color: rgb(255, 81, 0);
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.SearchInputContainer {
  width: 95%;
  min-width: 210px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    rgb(227, 213, 255),
    rgb(255, 231, 231)
  );
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  margin: auto;
  margin-block: 5px;
}

.SearchInput {
  width: 99%;
  min-width: 200px;
  height: 40px;
  border: none;
  outline: none;
  caret-color: rgb(255, 81, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding-left: 15px;
  letter-spacing: 0.5px;
  color: rgb(19, 19, 19);
  font-size: 13.4px;
}


.form-container {
  width: 320px;
  border-radius: 0.75rem;
  background-color: rgba(17, 24, 39, 1);
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 4px;
}

.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgba(17, 24, 39, 1);
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
  border-color: rgba(167, 139, 250);
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175,1);
  margin: 8px 0 14px 0;
}

.forgot a,.signup a {
  color: rgba(243, 244, 246, 1);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover, .signup a:hover {
  text-decoration: underline rgba(167, 139, 250, 1);
}

.sign {
  display: block;
  width: 100%;
  background-color: rgba(167, 139, 250, 1);
  padding: 0.75rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(156, 163, 175, 1);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .content {
    width: 100%;
  }

  .card img {
    height: 120px;
  }
}